* {
    box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}



body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

/*Navigation Bar */
.nav {
    background: rgb(8,255,241);
    background: radial-gradient(circle, rgba(8,255,241,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(222,252,243,1) 0%, rgba(57,255,242,1) 59%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.header {
  background: #010103;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  border-bottom: 0.2rem solid #73c2e1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  max-width: 75px;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: #73c2e1;
  border-bottom: 0.1rem solid #73c2e1;
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #73c2e1;
}


/* HOME PAGE STYLE */
.homepage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage .content{
  max-width: 60rem;
}

.homepage span {
  color: #ffc107;
  text-transform: uppercase;
}

.homepage .text-content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .text-content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.content {
    display: flex;
    width: 80%;
}

.text-content {
    flex: 1;
    padding: 20px;
}

.image-content {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

/* MENU ITEMS */
.menu-header {
    text-align: center;
    margin-top: 50px;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu-item {
    margin: 10px;
    text-align: center;
}

.menu-image {
    width: 300px;
    height: 300px;
}

/* .view-details-button {
} */

.view-order-button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #000000;
  cursor: pointer;
}

.view-order-button:hover {
    letter-spacing: 0.2rem;
}

.ordernow-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #000000;
  cursor: pointer;
}

.ordernow-btn:hover {
  letter-spacing: 0.2rem;
}

/* MY ORDER COMPONENT STYLES */

.my-order-header {
    text-align: center;
    margin-top: 50px;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    margin-top: 20px;
}

.order-list .order-item .order-item-details {
    padding: 2rem;
    text-align: center;
    border: 0.2rem solid #88cee5;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.order-list .box-order-item .order-item-details .order-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem; /* Add margin to separate image from other contents */
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.order-item {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    width: 100%;
}
.order-item-details {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center horizontally */
}

.order-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.item-info {
    flex-grow: 1;
}

.quantity-controls-my-order {
    align-items: center;
    margin-left: 10px;
}

.quantity-controls-my-order {
    display: flex;
    align-items: center;
}

.quantity-controls-my-order button {
    background-color: #92c2f6;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.3rem;
}

.quantity-controls-my-order button:hover {
    background-color: #92c2f6;
}

.remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.remove-button:hover {
    background-color: #c82333;
}
