:root {
  --background-primary: #f5f5f5;  
  --background-secondary: #f0f0f0; 
  --text-primary: #333;  
  --text-secondary: #666;  
  --accent-color: #ff7e67;
  --accent-hover: #ff594f;  
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  margin: 0;
  background: url('images/BG.png') center/cover no-repeat; 
}

.container {
  margin: 1rem;
  text-align: center;
}

/* Navigation Bar */
.nav {
  background: var(--accent-color);
  color: var(--background-primary);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: var(--background-secondary);
}

.nav li:hover {
  background-color: var(--accent-hover);
}

.header {
  background-color: linear-gradient(to right, #b0d0be, #76a793, #e0f1e0, #8cb4a2, #92bca9, #cce3d1, #d3ecd4, #d1e4dc, #8ebc9c);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  border-bottom: 0.2rem solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  max-width: 75px;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--text-primary);
}

.header .navbar a:hover {
  color: var(--accent-color);
  border-bottom: 0.1rem solid var(--accent-color);
}

.header .icons div {
  color: var(--text-primary);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--accent-color);
}

/* HOME PAGE STYLE */
.homepage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage .content {
  max-width: 60rem;
}

.homepage span {
  color: var(--accent-color);
  text-transform: uppercase;
}

.homepage .text-content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--background-primary);
}

.home .text-content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: var(--background-secondary);
}

.content {
  display: flex;
  width: 80%;
}

.text-content {
  flex: 1;
  padding-top: 100px;
}

.image-content {
  flex: 1;
  padding-left:100px;
}

img {
  max-width: 100%;
  height: auto;
}

/* MENU ITEMS */
.menu-header {
  padding-top: 3%;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  color: var(--text-primary);
}

.menu-header p {
  text-align: center;
  font-size: 1rem;
  color: var(--text-primary);
  padding-bottom: 3%;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.menu-item {
  position: relative;
  text-align: center;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white for glassmorphism effect */
  padding: 60px;
  border-radius: 15px; /* Increased border-radius for a smoother glassmorphism look */
  width: 300px;
  height: 350px; /* Set a suitable fixed height or adjust as needed */
  transition: box-shadow 0.3s ease-in-out;
  overflow: visible;
  margin-bottom: 80px; /* Add margin to the bottom of each menu item */
  backdrop-filter: blur(10px); /* Apply background blur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.menu-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover for depth */
}

.menu-item img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the max-height value based on padding */
  position: absolute;
  top: -100px; /* Move the image outside the top border by adjusting the top value */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu-item p {
  margin-bottom: 5px; /* Separate paragraphs if needed */
  margin-top: 60px;
}

.menu-item .menu-content {
  position: relative;
  z-index: 3;
}

.menu-image {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.menu-category {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.category-title {
  margin-bottom: 10%; /* Add margin to the bottom of each h2 element */
}

/* Order now button */
.ordernow-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 50px;
  font-size: 1.7rem;
  color: var(--background-primary);
  background: var(--accent-color);
  cursor: pointer;
}

.ordernow-btn:hover {
  letter-spacing: 0.2rem;
}

.view-order-button {
  text-align: center;
  margin-top: 1rem;
}

.view-order-button button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: white;
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.view-order-button button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

/* MY ORDER COMPONENT STYLES */
.my-order-header {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-primary);
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid var(--background-primary);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
}

.order-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  background-color: #88cee5;
}

.order-image {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

.item-info {
  flex-grow: 1;
}

.item-info p {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.quantity-controls-my-order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.discount-options p{
  margin-bottom: 3%;
}
.discount-options input {
  margin-right: 6px; /* Add margin between the radio buttons and the text */
}

.quantity-controls-my-order button {
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-controls-my-order button:hover {
  background-color: var(--accent-color);
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #c82333;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.quantity-controls button {
  background-color: var(--background-primary);
  color: var(--text-primary);
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.3rem;
  border-radius: 5px;
}

.quantity-controls button:hover {
  background-color: var(--accent-color);
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #c82333;
}

/* Payment Details*/

.proceed-button {
  text-align: center;
  margin-top: 1rem;
}

.proceed-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: white;
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.proceed-button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.payment-details {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
}

.payment-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.discount-options {
  margin-top: 15px;
}

.discount-options label {
  display: block;
  margin-bottom: 10px;
}

/* Payment Section Styles */
.total-amount {
  margin-top: 10px;
}

.payment-section {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
}

.payment-section .input-cash {
  margin-top: 10px; 
}

.input-cash {
  width: 80%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.complete-payment-button {
  background-color: var(--background-primary);
  color: var(--text-primary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.complete-payment-button:hover {
  background-color: #2980b9;
}

.change-amount {
  margin-top: 15px;
}

.back-button {
    position: fixed;
    top: 80px;
    left: 30px;
}

/* MY ORDER COMPONENT STYLES */

.my-order-header {
    text-align: center;
    margin-top: 50px;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    width: 100%;
}

.order-item-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.order-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.item-info {
    flex-grow: 1;
}

.quantity-controls-my-order {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

